AUTH_SECRET=replace-with-long-random-secret

GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycby1c-mlmETpDdgU0gYZN6EjrscdoQwsqdxTEwLxYku-iu5OyCbm3o-eawdB4MslJr7h0Q/exec
GOOGLE_APPS_SCRIPT_SECRET=replace-with-a-long-random-secret

EMAIL_FROM="Abhishek Singhal <noreply@example.com>"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhishek.singhal.jp26@gmail.com
SMTP_PASS=your-app-password

NEXTAUTH_URL=http://localhost:3000
