AUTH_SECRET=KMXcq1-1bZurpIp7SVD-OlWleYtFLbqkqB8o-Vn3XQE

GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyhRnMeIa4ynJ40frQNewGsjAaUn703jnHAtbda_2JGz5VNaYVxu_v8QXmX-EpXQjQ82w/exec
GOOGLE_APPS_SCRIPT_SECRET=lnHp0MPUp0s06iYbo9akKZ7IaP2bZZFl4XNohHOI7Kg

EMAIL_FROM="Abhishek Singhal <noreply@example.com>"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhishek.singhal.jp26@gmail.com
SMTP_PASS=Inspiron!15300

NEXTAUTH_URL=http://localhost:3000
